extends requirements
block layout_header
  title= "Home"
  link(rel="stylesheet", href="/plugins/font-awesome-4.2.0/css/font-awesome.css")
  link(href='http://fonts.googleapis.com/css?family=Trade+Winds|Vast+Shadow|Monoton|Special+Elite|Rye|Diplomata+SC' rel='stylesheet' type='text/css')
  link(rel='stylesheet', href='/stylesheets/home.css')
  link(rel='stylesheet', href='/stylesheets/projects.css')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
  script(src='./plugins/packery.pkgd.min.js')
  script(src='./plugins/draggabilly.pkgd.js')
block layout_content
  .header
    |J
  .navcontainer
    nav
      a.selected(href="/")
        |HOME
      //a(href="/projects")
        |PROJECTS
      a(href="/about")
        |ABOUT
  .content
    .blog#container
      each val in projects
        .project(class="w#{val.w} h#{val.h}")
          a(href=val.link)
            img(src=val.img)
  script(src="./js/projects.js")
